# ─── Laravel & Editor ───────────────────────────────────────────────
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml

# IDE & Editor folders
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Composer & NPM
/auth.json
/node_modules
npm-debug.log*
yarn-error.log*

# Build artifacts
/public/build
/public/hot

# We want to track our public storage symlink
!/public/storage

# Vendor libraries
/vendor

# ─── Storage ────────────────────────────────────────────────────────
# Ignore everything under storage/app...
/storage/app/*
# …except storage/app/public (we want these files in Git)
!/storage/app/public

# OS files, caches, thumbnails
/storage/*.key
/storage/pail
Thumbs.db
